# --------------------
# Secrets
# --------------------
.env

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
venv/
.venv/

# --------------------
# OS / Editor junk
# --------------------
.DS_Store
.vscode/
.idea/
